body {
    background: rgb(252,78,78);
    background: linear-gradient(261deg, rgba(252,78,78,0.6029762246695554) 0%, rgba(255,217,111,0.5665616588432247) 49%, rgba(255,247,0,0.8102591378348214) 100%);
}
#body {
    background-color: white;
    border: darkgrey;
    border-width: 5px;
    height: 1000px;
    width: 90%;
}
ul {
    list-style-type: none;
    align-items: stretch;
    padding:0;
    margin:0;
    display: flex;
    flex-flow: row wrap;
    position: center;
    justify-content: space-around;
}
li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 300px;
    width: 50%;
    float: left;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
    position: relative;
    box-shadow: inset 2px 1px 5px #000000;
    background: rgb(255, 255, 255);
}
#vasenpalkki {
    width: 200px;
    height: 100%;
    border: 2px solid #000;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    float: left;
    padding: 10px;
    border: 2px solid #000;
}
#palkki {
    float: left;
    height: 100%;
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 10px;
}
body {
    width: auto;
    height: auto;
}
/*Kuvat*/
#palkki_oikea {
    float: right;
    position: absolute;
}
