/*Kartta ja navigointi tiedot*/
#map {
    width: 70%;
    height: 570px;
    position: absolute;
    right: 0;
}

.tekstialue
{
    width: 250px;
    height: 20px;
}
.visible
{

}
/*Kartta ja navigointi tiedot päättyy*/

h1 {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
}
#otsikko {
    background-color: background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(58,58,58,0.846673703661152) 100%, rgba(255,255,255,0) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    margin-right: -7px;
}

/*Saatiedot*/
.lampo {
    position: relative;
    font-family: 'Varela', sans-serif;
    color: #dfff00;
}
.saapalkki {
    background: rgba(57, 83, 53, 0.63);
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
}
#saa {
    overflow: visible;
    height: 0px;
    z-index: 9999;
    position: relative;
    float: right;
    font-family: 'Varela', sans-serif;
    height: 555px;
    overflow-y: scroll;
    width: 112px;
    margin-right: -8px;
}
.saakuva {
    margin-top: -35px;
    margin-left: -10px;
}
.aika {
    color: white;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;
}
.tuuli {
    font-family: 'Varela', sans-serif;
    color: lightskyblue;
    margin-top: -31px;
    padding-bottom: 18px;
    padding-left: 0px;
}
/*Saatiedot paattyy*/