/*Kartta ja navigointi tiedot*/
#map {
    width: 70%;
    height: 570px;
    position: absolute;
    right: 0;
}
.tekstialue
{
    width: 250px;
    height: 20px;
}
.visible
{

}
/*Kartta ja navigointi tiedot päättyy*/
/*Saatiedot*/
.lampo {
    position: relative;
    font-family: 'Varela', sans-serif;
    color: #dfff00;
}
.saapalkki {
    background: rgba(57, 83, 53, 0.63);
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
}
#saa {
    overflow: visible;
    height: 0px;
    z-index: 9999;
    position: relative;
    float: right;
    font-family: 'Varela', sans-serif;
    height: 555px;
    overflow-y: scroll;
    width: 112px;
    margin-right: -8px;
}
.saakuva {
    margin-top: -35px;
    margin-left: -10px;
}
.aika {
    color: white;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;
}
.tuuli {
    font-family: 'Varela', sans-serif;
    color: lightskyblue;
    margin-top: -31px;
    padding-bottom: 18px;
    padding-left: 0px;
}
/*Saatiedot paattyy*/