html, body{
    margin: 0;

    padding: 0;
    background-color: black;
    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}
/*Kartta ja navigointi tiedot*/
#body {
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 0px;
    float: right;
    margin-right: 0px;
}
#mapJaSaa {
    display: inline-flex;
    margin: 0px;
    height: 92%;
    width: calc(99% - 327px);
    border: solid 1px gray;

}
#saa {
    z-index: 9999;
    position: absolute;
    float: right;
    font-family: 'Varela', sans-serif;
    height: 90%;
    overflow-y: scroll;
    width: 112px;
    right: 2px;

}
#navigaatioJaOhjeet
{
    display: inline-block;
    width: 304px;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 2px 1px 20px #e97c71;

    font-family: 'Ubuntu', sans-serif;
    border: solid 1px gray;
    padding-left: 10px;
    height: 90.2%;
    margin: 0;
    padding-top: 14px;
    float: left;
    margin-right: 4px;
}

.tekstialue
{
    width: 250px;
    height: 20px;
}
.visible
{

}
/*Kartta ja navigointi tiedot päättyy*/

h1 {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
}
#otsikko {
    background-color: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(58,58,58,0.846673703661152) 100%, rgba(255,255,255,0) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    margin-right: -7px;
}

/*Saatiedot*/
.lampo {
    position: relative;
    font-family: 'Varela', sans-serif;
    color: #dfff00;
}
.saapalkki {
    background: rgba(57, 83, 53, 0.63);
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
    border-bottom: 2px;
    border: black;
}

.saakuva {
    margin-top: -35px;
    margin-left: -10px;
}
.aika {
    color: white;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;
}
.tuuli {
    font-family: 'Varela', sans-serif;
    color: lightskyblue;
    margin-top: -31px;
    padding-bottom: 18px;
    padding-left: 0px;
}
/*Saatiedot paattyy*/